In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\rodrigo\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\rodrigo\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [3]:
pd.read_csv("test1.csv", sep = ",")

        Name  Age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [4]:
spark=SparkSession.builder.appName('Practica').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv("test1.csv", sep=";", header='true')

In [7]:
df_pyspark.show()

+--------------------------+
|Name,Age,Experience,Salary|
+--------------------------+
|         Krish,31,10,30000|
|      Sudhanshu,30,8,25000|
|          Sunny,29,4,20000|
|           Paul,24,3,20000|
|         Harsha,21,1,15000|
|        Shubham,23,2,18000|
+--------------------------+

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.printSchema()

root
 |-- Name,Age,Experience,Salary: string (nullable = true)