In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [3]:
##Read de dataset
df_pyspark=spark.read.csv('test1.csv', sep=",", header=True, inferSchema=True)

In [4]:
##Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [5]:
##Check the column types
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [6]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
##Selecting columns
df_pyspark.select(["Name","Experience"]).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [8]:
##Selecting rows
df_pyspark.limit(2).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [9]:
##Adding columns
df_pyspark=df_pyspark.withColumn('Experience after 2 years', df_pyspark["Experience"]+2)
df_pyspark.show()

+---------+---+----------+------+------------------------+
|     Name|Age|Experience|Salary|Experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [10]:
##Dropping columns
df_pyspark=df_pyspark.drop("Experience after 2 years")
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
##Rename columns
df_pyspark=df_pyspark.withColumnRenamed('Name', 'First Name')
df_pyspark.show()

+----------+---+----------+------+
|First Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
| Sudhanshu| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+

In [15]:
##Filter operations
##Salary of people <= 20000 and Experience >= 3
df_pyspark.filter((df_pyspark['Salary'] <= 20000) & (df_pyspark['Experience'] >= 3)).select(['First Name','Experience','Salary']).show()

+----------+----------+------+
|First Name|Experience|Salary|
+----------+----------+------+
|     Sunny|         4| 20000|
|      Paul|         3| 20000|
+----------+----------+------+